@use "../../Style/Import.scss" as import;
.poki__type--item {
	box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
	border-radius: 11px;
	margin: 0 6px;
	.poki__type--text {
		padding: 2px 15px;
		@include import.KarlaNormal(#212121, 12px);
	}
}
