.card-normal {
	background: #c4f5f7;
}
.card-fighting {
	background: #bffcff;
}
.card-flying {
	background: #94d3d6;
}
.card-poison {
	background: #abf0ae;
}
.card-ground {
	background: #f3d264;
}
.card-rock {
	background: #b8a154;
}
.card-bug {
	background: #ffe89e;
}
.card-ghost {
	background: #6dacfa;
}
.card-steel {
	background: #99999a;
}
.card-fire {
	background: #d68273;
}
.card-water {
	background: #73b8d6;
}
.card-grass {
	background: #73d677;
}
.card-electric {
	background: #fffc449c;
}
.card-psychic {
	background: #fad8189c;
}
.card-ice {
	background: #3984f59c;
}
.card-dragon {
	background: #fa64289c;
}
.card-dark {
	background: #2f2e2e9c;
}
.card-fairy {
	background: #dfcbfa;
}
.card-unknown {
}
.card-shadow {
}

.modifiers-normal {
	background: #c4f5f7;
}
.modifiers-fighting {
	background: #bffcff;
}
.modifiers-flying {
	background: #94d3d6;
}
.modifiers-poison {
	background: #abf0ae;
}
.modifiers-ground {
	background: #f3d264;
}
.modifiers-rock {
	background: #b8a154;
}
.modifiers-bug {
	background: #ffe89e;
}
.modifiers-ghost {
	background: #6dacfa;
}
.modifiers-steel {
	background: #99999a;
}
.modifiers-fire {
	background: #d68273;
}
.modifiers-water {
	background: #73b8d6;
}
.modifiers-grass {
	background: #73d677;
}
.modifiers-electric {
	background: #fffc449c;
}
.modifiers-psychic {
	background: #fad8189c;
}
.modifiers-ice {
	background: #3984f59c;
}
.modifiers-dragon {
	background: #fa64289c;
}
.modifiers-dark {
	background: #2f2e2e9c;
}
.modifiers-fairy {
	background: #dfcbfa;
}
.modifiers-unknown {
}
.modifiers-shadow {
}

.modal-water {
	background: linear-gradient(270deg, #73b8d6 0.15%, #9bc3d4 100%);
}

.modal-grass {
	background: linear-gradient(270deg, #73d677 0.15%, #9ad19c 100%);
}

.modal-fire {
	background: linear-gradient(270deg, #d93e30 0.15%, #b33327 100%);
}

.modal-flying {
	background: linear-gradient(270deg, #94d3d6 0.15%, #d2fdff 100%);
}
.modal-bug {
	background: linear-gradient(270deg, rgb(170, 209, 211) 0.15%, #ffe89e 100%);
}
.modal-normal {
	background: linear-gradient(270deg, rgb(173, 210, 212) 0.15%, #c4f5f7 100%);
}
.modal-electric {
	background: linear-gradient(270deg, #fdfb8c9c 0.15%, #fffc449c 100%);
}
.modal-ground {
	background: linear-gradient(270deg, #f0dd9e 0.15%, #f3d264 100%);
}
.modal-fairy {
	background: linear-gradient(270deg, #eee3fc 0.15%, #dfcbfa 100%);
}
.modal-poison {
	background: linear-gradient(270deg, #c1ecc4 0.15%, #abf0ae 100%);
}

.modal-fighting {
	background: linear-gradient(270deg, #bffcff 0.15%, #94f5fa 100%);
}

.modal-rock {
	background: linear-gradient(270deg, #b8a154 0.15%, #eac754 100%);
}

.modal-ghost {
	background: linear-gradient(270deg, #6dacfa 0.15%, #549ffa 100%);
}
.modal-steel {
	background: linear-gradient(270deg, #99999a 0.15%, #e4e4fa 100%);
}

.modal-psychic {
	background: linear-gradient(270deg, #fad8189c 0.15%, #fad818d6 100%);
}
.modal-ice {
	background: linear-gradient(270deg, #3984f59c 0.15%, #63a0fb9c 100%);
}
.modal-dragon {
	background: linear-gradient(270deg, #fa64289c 0.15%, #f675429c 100%);
}
.modal-dark {
	background: linear-gradient(270deg, #2f2e2e9c 0.15%, #9c9a9a9c 100%);
}
.modal-unknown {
	background: linear-gradient(270deg, #c1ecc4 0.15%, #94f299 100%);
}
.modal-shadow {
	background: linear-gradient(270deg, #c1ecc4 0.15%, #98f09c 100%);
}
