@use "../../style/Import.scss" as import;

.FooterItem {
	flex-shrink: 0;
	margin-bottom: 16px;
	&.position {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.FooterItem__container {
		max-width: 1440px;
		width: calc(100% - 200px);
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		.FooterItem__description {
			&--style {
				@include import.KarlaNormal(#212121, calc(14px + (4 + 14 * 0.7) * ((100vw - 375px) / 1440)));
			}
			&--white {
				@include import.KarlaNormal(#f2f2f2, calc(14px + (4 + 14 * 0.7) * ((100vw - 375px) / 1440)));
			}
		}
		@media (max-width: 376px) {
			flex-direction: column-reverse;
			align-items: center;
			width: calc(100% - 8px);
			.FooterItem__description {
				.title__for--adaptive {
					@include import.KarlaBold(#212121, 18px);
				}
			}
		}
	}
}
