@use "../../style/Import.scss" as import;
.PokiCard {
	width: 32%;
	max-height: 25vh;
	display: flex;
	justify-content: space-between;
	background: #f6f7f9;
	border-radius: 8px;
	position: relative;
	filter: drop-shadow(4px 4px 4px rgba(33, 33, 33, 0.1));
	margin: 2% 0%;
	.PokiCard__info {
		display: flex;
		flex-direction: column;
		padding: 5px 0 40px 25px;
		width: 35%;
		@media (max-width: 1300px) {
			width: 40%;
		}
		@media (max-width: 768px) {
			width: 45%;
		}
		.poki__type {
			position: absolute;
			bottom: 11px;
			display: flex;
		}
		&__img {
			width: 60%;
			@media (max-width: 1300px) {
				width: 70%;
			}
		}
	}
	@media (max-width: 992px) {
		width: 48%;
		margin: 3% 1%;
	}
	@media (max-width: 576px) {
		width: 100%;
		margin: 3% 0;
	}
}
.PokiCard__info__cover {
	display: flex;
	justify-content: center;
	width: 65%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	@media (max-width: 1300px) {
		width: 60%;
	}
}
.PokiCard__name {
	margin-bottom: 12px;
	.PokiCard__name--text {
		@include import.KarlaBold(#212121, 18px);
	}
}
.PokiCard__characteristics {
	display: flex;
	justify-content: space-between;
	padding: 0 5px;
}
