.serch {
	background: #f2f2f2;
	box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
	border-radius: 40px;
	width: 100%;
	padding: 17px 31px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.serch__input {
		width: 100%;
		&--style {
			width: 100%;
		}
	}
	.serch__btn {
		width: 25px;
		height: 25px;
	}
}
